# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
ENV/
env.bak/
venv.bak/

# Machine Learning / Data
dataset_collector/dataset/
dataset_collector/temp_dataset_images/
dataset_collector/*.jpg
dataset_collector/*.png
model_training/*.png

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
build/
.next/
out/
.vercel
